body {
      font-weight: 400;
    }

.navbar.navbar-light
{
  background-color:lightseagreen;
}




@media (min-width: 768px) { 
  body {
    background:rgb(238, 238, 238);
  } 

  .navbar .container-fluid {
    background-color:white;
  }

 }

