body {
    font-size: large; font-weight:500;
    background:#EEE;
}


.container-fluid {padding-inline-start: 20px;}

.navbar-light {padding: 0px;}

.navbar-light .navbar-brand {color: white;}

.navbar-brand {
                height: 50px;
                padding:10px;
                background-color:lightseagreen;
                text-align: center;

            }

content {background: white;}



/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 600px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }

    .container-fluid {
        background: lightseagreen;
        
    }
  }